<h2 class="center">Edit Band Name</h2>
<div class="center group">
  <div class="errors">
    <%= render "shared/errors" %>
  </div>
  <%= render "forms", action: edit_band_url, method: :get %>
</div>
